.alarm{
    display: flex;
    margin-top: 6rem;

    &-input {
        height: 75px;
        width: 6.75vw;
        margin: 0.5vw;
        border-radius: 10px;
        border: 5px solid #1e5128;
        background-color: #d3d98b;
        outline: none;
        padding-left: 17.5px;
        font-size: 35px;
        font-weight: 600;
    }

    &-set {
        background-color: #1e5128;
        color: #d3d98b;
        margin-top: 15px;
        width: 30vw;
        letter-spacing: 2px;
        font-size: 35px;
        font-weight: 600;
        padding-left: 0px;
    }
}


.alarm-footer-caption{
    margin: 0.5vw;
    margin-top: 50%;
    transform: translateX(3.5vw);
    font-size: 1.75vw;
    color: #d3d98b;
    letter-spacing: 2.5px;
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}


@media (max-width: 1000px) {
    .alarm{
        margin-top: 7.5vh;
    
        &-input {
            height: 6vh;
            width: 11vw;
            margin: 1vw;
            border-radius: 7.5px;
            border: 3.5px solid #1e5128;
            padding-left: 12.4px;
            font-size: 25px;
        }
    
        &-set {
            margin-top: 20px;
            width: 50vw;
            font-size: 30px;
        }
    }
    
    .alarm-footer-caption{
        display: none;
    }
}


@media (max-width: 600px) {
    .alarm{
        margin-top: 7.5vh;
    
        &-input {
            height: 6.5vh;
            width: 19.8vw;
            margin: 1vw;
            border-radius: 5px;
            border: 2.5px solid #1e5128;
            padding-left: 5px;
            font-size: 20px;
        }
    
        &-set {
            margin-top: 15px;
            width: 85vw;
            font-size: 20px;
        }
    }

    .alarm-footer-caption{
        display: none;
    }
}