.analog-clock{
    display: flex;
    width: 26vw;
    height: 26vw;
    background-color: #d3d98b;
    border-radius: 50%;
    border: 1vw solid #1e5128;
    position: relative;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;

    &--number {
        position: absolute;
        width: 95%;
        height: 95%;
        left: 2.5%;
        top: 2.5%;
        text-align: center;
        font-weight: bold;
        font-size: 2vw;
        color: #141414;

        &-1 { --rotation: 30deg;}
        &-2 { --rotation: 60deg;}
        &-3 { --rotation: 90deg;}
        &-4 { --rotation: 120deg;}
        &-5 { --rotation: 150deg;}
        &-6 { --rotation: 180deg;}
        &-7 { --rotation: 210deg;}
        &-8 { --rotation: 2400deg;}
        &-9 { --rotation: 270deg;}
        &-10 { --rotation: 300deg;}
        &-11 { --rotation: 330deg;}

        transform: rotate(var(--rotation));
    }

    &--hand {
        --rotation: 0deg;
        position: absolute;
        bottom: 50%;
        left: 50%;
        background-color: #141414;
        border: 1.5px solid #141414;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transform-origin: bottom;
        transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));

        &-hour {
            width: 0.8vw;
            height: 7vw;
        }

        &-minute {
            width: 0.4vw;
            height: 8.5vw;
        }

        &-second {
            width: 0.1vw;
            height: 9vw;
            border: 1.5px solid #1e5128;
            background-color: #1e5128;
        }

    }

    &::after {
        content: '';
        position: absolute;
        background-color: #141414;
        z-index: 25;
        width: 1.25vw;
        height: 1.25vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
}

@media (max-width: 1000px) {
    .analog-clock {
        width: 50vw;
        height: 50vw;
        border: 12.5px solid #1e5128;
        margin-top: 3vh;
        transform: translateX(0%);

        &--number {
            font-size: 4vw;
        }

        &--hand {
            &-hour {
                width: 1.25vw;
                height: 12vw;
            }
    
            &-minute {
                width: 0.9vw;
                height: 14.25vw;
            }
    
            &-second {
                width: 0.3vw;
                height: 16vw;
            }
    
        }

        &::after {
            width: 2.5vw;
            height: 2.5vw;
        }
    }
}


@media (max-width: 600px) {
    .analog-clock {
        width: 85vw;
        height: 85vw;
        border: 10px solid #1e5128;
        margin-top: 2vh;

        &--number {
            font-size: 6vw;
        }

        &--hand {
            &-hour {
                width: 2.5vw;
                height: 24vw;
            }
    
            &-minute {
                width: 1.35vw;
                height: 28.5vw;
            }
    
            &-second {
                width: 0.3vw;
                height: 31.5vw;
            }
    
        }

        &::after {
            width: 4vw;
            height: 4vw;
        }
    }
}