@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import "analog_clock";
@import "digital_clock";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body {
    background-color: #181818;
}

.title {
    margin: 1.5rem;
}

.heading {
    display: block;
    font-size: 2.5rem;
    color: #d3d98b;
}

.caption{
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    transform: translateY(15%);
    color: #d3d98b;
}
