@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import "sass/analog_clock.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body {
    background-image: linear-gradient(to right,#d64c7f,#ee4758);
}

.title {
    margin: 1.5rem;
}

.heading {
    display: block;
    font-size: 3.25rem;
}

.caption{
    display: block;
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
    font-size: 2.35rem;
    transform: translateY(15%);
}