.timer{
    display: flex;
    margin-top: 4rem;

    &-input {
        height: 90px;
        width: 8.2vw;
        margin: 0.35vw;
        border-radius: 10px;
        border: 5px solid #1e5128;
        background-color: #d3d98b;
        outline: none;
        padding-left: 17.5px;
        font-size: 40px;
        font-weight: 600;
    }

    &-set {
        background-color: #1e5128;
        color: #d3d98b;
        margin-top: 10px;
        width: 26vw;
        letter-spacing: 2px;
        font-size: 40px;
        font-weight: 600;
        padding-left: 0px;
    }
}


.disable {
    opacity: 0.5;
    pointer-events: none;
}

@media (max-width: 1000px) {
    .timer{
        margin-top: 5vh;
    
        &-input {
            height: 6vh;
            width: 15.5vw;
            margin: 1vw;
            border-radius: 7.5px;
            border: 3.5px solid #1e5128;
            padding-left: 12.4px;
            font-size: 25px;
        }
    
        &-set {
            margin-top: 10px;
            width: 50vw;
            font-size: 30px;
        }
    }
}


@media (max-width: 600px) {
    .timer{
        margin-top: 5vh;
    
        &-input {
            height: 6.8vh;
            width: 27vw;
            margin: 1vw;
            border-radius: 5px;
            border: 2.5px solid #1e5128;
            padding-left: 5px;
            font-size: 22.5px;
        }
    
        &-set {
            margin-top: 10px;
            width: 85vw;
            font-size: 22.5px;
        }
    }
}