
.worldclock {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    &-spansearch {
        display: flex;
        justify-content: space-between;
        width: 90vw;

        &-search {
            padding: 10px;
            border-radius: 5px;
            background-color: #d3d98b;
            outline: none;
            font-size: 15px;
            letter-spacing: 2.5px;
            width: 72.5vw;
        }

        &-button {
            padding: 15px;
            background-color: #1e5128;
            color: #d3d98b;
            border-radius: 5px;
            width: 15vw;
            font-size: 25px;
            text-align: center;
        }

    }

    &-digital {
        font-size: 2rem;
        width: 90vw;
        padding: 2.5vw;
        margin-top: 3rem;
        background-color: #1e5128;
        text-align: center;
        color: #d3d98b;
        border-radius: 15px;
        letter-spacing: 2.5px;
        background-color: #1e5128;

        &-title {
            font-size: 1.75rem;
            margin-bottom: 10%;
            padding-top: 0.5rem;
        }

        &-date {
            display: flex;
            flex-direction: column;
            margin-top: 0rem;
            font-size: 1.5rem;
            letter-spacing: 0px;
        }
    }
    

    &-spandisplay {
        font-size: 2rem;
        width: 90vw;
        padding: 2.5vw;
        margin-top: 1rem;
        background-color: #1e5128;
        text-align: center;
        color: #d3d98b;
        border-radius: 15px;
        letter-spacing: 2.5px;
        background-color: #1e5128;

        &-title {
            font-size: 1.75rem;
            margin-bottom: 10%;
            padding-top: 0.5rem;
        }

        &-date {
            display: flex;
            flex-direction: column;
            margin-top: 0rem;
            font-size: 1.5rem;
            letter-spacing: 0px;
        }
    }

    &-error {
        width: 90vw;
        border-radius: 10px;
        background-color: #1e5128;
        color: #d3d98b;
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 2.5px;
        text-align: center;
        margin-top: 1rem;
        padding-top: 1rem;

        &-404 {
            font-size: 1.75rem;
            letter-spacing: 10px;
        }

        &-title {
            font-size: 1.75rem;
            border-radius: 7.5px;
            padding: 5px;
            color: #d3d98b;
            font-weight: 800;
            letter-spacing: 10px;
        }

        &-message {
            font-size: 1.05rem;
            padding: 25px 15px;
            text-align: center;
        }
    }
}

.hidden {
    display: none;
}