@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.analog-clock {
  display: flex;
  width: 26vw;
  height: 26vw;
  background-color: #d3d98b;
  border-radius: 50%;
  border: 1vw solid #1e5128;
  position: relative;
  margin-top: 1vh;
  justify-content: center;
  align-items: center; }
  .analog-clock--number {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    color: #141414;
    transform: rotate(var(--rotation)); }
    .analog-clock--number-1 {
      --rotation: 30deg; }
    .analog-clock--number-2 {
      --rotation: 60deg; }
    .analog-clock--number-3 {
      --rotation: 90deg; }
    .analog-clock--number-4 {
      --rotation: 120deg; }
    .analog-clock--number-5 {
      --rotation: 150deg; }
    .analog-clock--number-6 {
      --rotation: 180deg; }
    .analog-clock--number-7 {
      --rotation: 210deg; }
    .analog-clock--number-8 {
      --rotation: 2400deg; }
    .analog-clock--number-9 {
      --rotation: 270deg; }
    .analog-clock--number-10 {
      --rotation: 300deg; }
    .analog-clock--number-11 {
      --rotation: 330deg; }
  .analog-clock--hand {
    --rotation: 0deg;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: #141414;
    border: 1.5px solid #141414;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg)); }
    .analog-clock--hand-hour {
      width: 0.8vw;
      height: 7vw; }
    .analog-clock--hand-minute {
      width: 0.4vw;
      height: 8.5vw; }
    .analog-clock--hand-second {
      width: 0.1vw;
      height: 9vw;
      border: 1.5px solid #1e5128;
      background-color: #1e5128; }
  .analog-clock::after {
    content: '';
    position: absolute;
    background-color: #141414;
    z-index: 25;
    width: 1.25vw;
    height: 1.25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; }

@media (max-width: 1000px) {
  .analog-clock {
    width: 50vw;
    height: 50vw;
    border: 12.5px solid #1e5128;
    margin-top: 3vh;
    transform: translateX(0%); }
    .analog-clock--number {
      font-size: 4vw; }
    .analog-clock--hand-hour {
      width: 1.25vw;
      height: 12vw; }
    .analog-clock--hand-minute {
      width: 0.9vw;
      height: 14.25vw; }
    .analog-clock--hand-second {
      width: 0.3vw;
      height: 16vw; }
    .analog-clock::after {
      width: 2.5vw;
      height: 2.5vw; } }

@media (max-width: 600px) {
  .analog-clock {
    width: 85vw;
    height: 85vw;
    border: 10px solid #1e5128;
    margin-top: 2vh; }
    .analog-clock--number {
      font-size: 6vw; }
    .analog-clock--hand-hour {
      width: 2.5vw;
      height: 24vw; }
    .analog-clock--hand-minute {
      width: 1.35vw;
      height: 28.5vw; }
    .analog-clock--hand-second {
      width: 0.3vw;
      height: 31.5vw; }
    .analog-clock::after {
      width: 4vw;
      height: 4vw; } }

.digital {
  font-size: 2.5vw;
  text-align: center;
  color: #d3d98b;
  width: 26vw;
  padding: 0.5vw 1.5rem;
  margin-top: 3rem;
  border-radius: 15px;
  letter-spacing: 2.5px;
  background-color: #1e5128; }

.date {
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  letter-spacing: 0px; }

@media (max-width: 1000px) {
  .digital {
    font-size: 2.25rem;
    width: 50vw;
    padding: 2vw;
    margin-top: 3rem;
    background-color: #1e5128; }
  .date {
    margin-top: 0rem;
    font-size: 1.5rem; } }

@media (max-width: 600px) {
  .digital {
    font-size: 1.75rem;
    width: 85vw;
    padding: 2.5vw;
    margin-top: 3rem;
    background-color: #1e5128; }
  .date {
    margin-top: 0rem;
    font-size: 1.25rem; } }

.title {
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d3d98b;
  transition: 0.5s; }

.heading {
  font-size: 3rem; }

.caption {
  margin-top: 0vh; }

.hidden {
  display: none; }

.navbar-links {
  z-index: 100;
  overflow-x: hidden;
  background: #181818; }

.navbar-links ul {
  margin: 0%;
  padding: 0%;
  display: flex; }

.navbar-links li {
  list-style: none; }

.navbar-links li:hover {
  transition-duration: 0.25s;
  transform: translateY(-7.5px); }

.navbar-links li:active {
  transition-duration: 0.25s;
  transform: translateY(0px); }

.a {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.3rem; }

.hamburger {
  position: absolute;
  top: 2.4rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 25px; }

.bar {
  height: 5px;
  width: 100%;
  background-color: #d3d98b;
  border-radius: 10px; }

@media (max-width: 1200px) {
  .a {
    font-size: 1.05rem; } }

@media (max-width: 1000px) {
  .title {
    flex-direction: column;
    align-items: flex-start; }
  .heading {
    margin-top: 0.25rem;
    font-size: 2rem; }
  .hamburger {
    display: flex; }
  .navbar-links {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 10%;
    left: 0;
    padding-top: 6vh; }
  .navbar-links ul {
    width: 100%;
    flex-direction: column; }
  .navbar-links ul li {
    text-align: center; }
  .a {
    font-size: 1.25rem;
    margin-top: 1vh; }
  .caption {
    margin-top: 10vh; }
  .navbar-links.active {
    display: flex; } }

.alarm {
  display: flex;
  margin-top: 4rem; }
  .alarm-input {
    height: 90px;
    width: 6vw;
    margin: 0.35vw;
    border-radius: 10px;
    border: 5px solid #1e5128;
    background-color: #d3d98b;
    outline: none;
    padding-left: 17.5px;
    font-size: 40px;
    font-weight: 600; }
  .alarm-set {
    background-color: #1e5128;
    color: #d3d98b;
    margin-top: 10px;
    width: 26vw;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 600;
    padding-left: 0px; }

.disable {
  opacity: 0.5;
  pointer-events: none; }

@media (max-width: 1000px) {
  .alarm {
    margin-top: 5vh; }
    .alarm-input {
      height: 6vh;
      width: 11vw;
      margin: 1vw;
      border-radius: 7.5px;
      border: 3.5px solid #1e5128;
      padding-left: 12.4px;
      font-size: 25px; }
    .alarm-set {
      margin-top: 10px;
      width: 50vw;
      font-size: 30px; } }

@media (max-width: 600px) {
  .alarm {
    margin-top: 5vh; }
    .alarm-input {
      height: 6.8vh;
      width: 19.8vw;
      margin: 1vw;
      border-radius: 5px;
      border: 2.5px solid #1e5128;
      padding-left: 5px;
      font-size: 22.5px; }
    .alarm-set {
      margin-top: 10px;
      width: 85vw;
      font-size: 22.5px; } }

.timer {
  display: flex;
  margin-top: 4rem; }
  .timer-input {
    height: 90px;
    width: 8.2vw;
    margin: 0.35vw;
    border-radius: 10px;
    border: 5px solid #1e5128;
    background-color: #d3d98b;
    outline: none;
    padding-left: 17.5px;
    font-size: 40px;
    font-weight: 600; }
  .timer-set {
    background-color: #1e5128;
    color: #d3d98b;
    margin-top: 10px;
    width: 26vw;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 600;
    padding-left: 0px; }

.disable {
  opacity: 0.5;
  pointer-events: none; }

@media (max-width: 1000px) {
  .timer {
    margin-top: 5vh; }
    .timer-input {
      height: 6vh;
      width: 15.5vw;
      margin: 1vw;
      border-radius: 7.5px;
      border: 3.5px solid #1e5128;
      padding-left: 12.4px;
      font-size: 25px; }
    .timer-set {
      margin-top: 10px;
      width: 50vw;
      font-size: 30px; } }

@media (max-width: 600px) {
  .timer {
    margin-top: 5vh; }
    .timer-input {
      height: 6.8vh;
      width: 27vw;
      margin: 1vw;
      border-radius: 5px;
      border: 2.5px solid #1e5128;
      padding-left: 5px;
      font-size: 22.5px; }
    .timer-set {
      margin-top: 10px;
      width: 85vw;
      font-size: 22.5px; } }

.stopwatch {
  margin-top: 4rem; }
  .stopwatch-display {
    display: flex; }
  .stopwatch-output {
    height: 5vh;
    width: 6.75vw;
    margin: 0.5vw;
    border-radius: 5px;
    background-color: #d3d98b;
    text-align: center;
    font-size: 38px;
    font-weight: 600; }
  .stopwatch-buttons {
    margin-top: 3vw; }
  .stopwatch-button {
    height: 6.8vh;
    width: 14.5vw;
    margin: 0.4vw;
    border-radius: 5px;
    background-color: #1e5128;
    color: #d3d98b;
    font-size: 38px;
    font-weight: 600;
    text-align: center; }
  .stopwatch-resetButton {
    margin-top: 1vw;
    width: 30vw; }
  .stopwatch-lap {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin: 0.5vw;
    margin-top: 3vw;
    color: #d3d98b;
    font-size: 32.5px;
    font-weight: 600;
    letter-spacing: 2.5px; }

@media (max-width: 1000px) {
  .stopwatch-output {
    height: 6.8vh;
    width: 13.7vw;
    margin: 1vw;
    font-size: 30px;
    padding-top: 1.5vh; }
  .stopwatch-buttons {
    margin-top: 10vw; }
  .stopwatch-button {
    height: 6.8vh;
    width: 29vw;
    margin: 1vw;
    font-size: 30px;
    text-align: center; }
  .stopwatch-resetButton {
    margin-top: 3vw;
    width: 60vw; }
  .stopwatch-lap {
    width: 60vw;
    margin: 1vw;
    margin-top: 10vw;
    font-size: 20px; } }

@media (max-width: 600px) {
  .stopwatch-output {
    height: 6.8vh;
    width: 19.8vw;
    margin: 1vw;
    font-size: 30px; }
  .stopwatch-buttons {
    margin-top: 10vw; }
  .stopwatch-button {
    height: 6.8vh;
    width: 41vw;
    margin: 1vw;
    font-size: 30px;
    text-align: center; }
  .stopwatch-resetButton {
    margin-top: 3vw;
    width: 85vw; }
  .stopwatch-lap {
    width: 85vw;
    margin: 1vw;
    margin-top: 10vw;
    font-size: 20px; } }

.worldclock {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .worldclock-spansearch {
    display: flex;
    justify-content: space-between;
    width: 90vw; }
    .worldclock-spansearch-search {
      padding: 10px;
      border-radius: 5px;
      background-color: #d3d98b;
      outline: none;
      font-size: 15px;
      letter-spacing: 2.5px;
      width: 72.5vw; }
    .worldclock-spansearch-button {
      padding: 15px;
      background-color: #1e5128;
      color: #d3d98b;
      border-radius: 5px;
      width: 15vw;
      font-size: 25px;
      text-align: center; }
  .worldclock-digital {
    font-size: 2rem;
    width: 90vw;
    padding: 2.5vw;
    margin-top: 3rem;
    background-color: #1e5128;
    text-align: center;
    color: #d3d98b;
    border-radius: 15px;
    letter-spacing: 2.5px;
    background-color: #1e5128; }
    .worldclock-digital-title {
      font-size: 1.75rem;
      margin-bottom: 10%;
      padding-top: 0.5rem; }
    .worldclock-digital-date {
      display: flex;
      flex-direction: column;
      margin-top: 0rem;
      font-size: 1.5rem;
      letter-spacing: 0px; }
  .worldclock-spandisplay {
    font-size: 2rem;
    width: 90vw;
    padding: 2.5vw;
    margin-top: 1rem;
    background-color: #1e5128;
    text-align: center;
    color: #d3d98b;
    border-radius: 15px;
    letter-spacing: 2.5px;
    background-color: #1e5128; }
    .worldclock-spandisplay-title {
      font-size: 1.75rem;
      margin-bottom: 10%;
      padding-top: 0.5rem; }
    .worldclock-spandisplay-date {
      display: flex;
      flex-direction: column;
      margin-top: 0rem;
      font-size: 1.5rem;
      letter-spacing: 0px; }
  .worldclock-error {
    width: 90vw;
    border-radius: 10px;
    background-color: #1e5128;
    color: #d3d98b;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem; }
    .worldclock-error-404 {
      font-size: 1.75rem;
      letter-spacing: 10px; }
    .worldclock-error-title {
      font-size: 1.75rem;
      border-radius: 7.5px;
      padding: 5px;
      color: #d3d98b;
      font-weight: 800;
      letter-spacing: 10px; }
    .worldclock-error-message {
      font-size: 1.05rem;
      padding: 25px 15px;
      text-align: center; }

.hidden {
  display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden; }

body {
  background-color: #181818; }

.home-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

@media (max-width: 1000px) {
  .home-clock {
    display: flex;
    flex-direction: column; }
  .layout {
    display: flex;
    flex-direction: column; } }
