@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.analog-clock {
  width: 22.5rem;
  height: 22.55rem;
  background-color: #d3d98b;
  border-radius: 50%;
  border: 10px solid #1e5128;
  position: relative;
  margin-left: 50%;
  margin-top: 7vh;
  transform: translateX(-50%); }
  .analog-clock--number {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    color: #141414;
    transform: rotate(var(--rotation)); }
    .analog-clock--number-1 {
      --rotation: 30deg; }
    .analog-clock--number-2 {
      --rotation: 60deg; }
    .analog-clock--number-3 {
      --rotation: 90deg; }
    .analog-clock--number-4 {
      --rotation: 120deg; }
    .analog-clock--number-5 {
      --rotation: 150deg; }
    .analog-clock--number-6 {
      --rotation: 180deg; }
    .analog-clock--number-7 {
      --rotation: 210deg; }
    .analog-clock--number-8 {
      --rotation: 2400deg; }
    .analog-clock--number-9 {
      --rotation: 270deg; }
    .analog-clock--number-10 {
      --rotation: 300deg; }
    .analog-clock--number-11 {
      --rotation: 330deg; }
  .analog-clock--hand {
    --rotation: 0deg;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: #141414;
    border: 1.5px solid #141414;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg)); }
    .analog-clock--hand-hour {
      width: 10px;
      height: 30%; }
    .analog-clock--hand-minute {
      width: 5px;
      height: 35%; }
    .analog-clock--hand-second {
      width: 1px;
      height: 37.5%;
      border: 1.5px solid #1e5128;
      background-color: #1e5128; }
  .analog-clock::after {
    content: '';
    position: absolute;
    background-color: #141414;
    z-index: 25;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; }

.digital-clock {
  font-size: 2.4rem;
  text-align: center;
  color: #d3d98b;
  width: 350px;
  background-color: #1e5128;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 50%;
  border-radius: 15px;
  transform: translateX(-50%);
  letter-spacing: 2.5px; }

.date {
  font-size: 1.75rem;
  letter-spacing: 0px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden; }

body {
  background-color: #181818; }

.title {
  margin: 1.5rem; }

.heading {
  display: block;
  font-size: 2.5rem;
  color: #d3d98b; }

.caption {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  transform: translateY(15%);
  color: #d3d98b; }
